In [1]:
import sys
sys.path.append('D:/Andy/python/nba-analysis/data_retrieval')
from player_season import PlayerSeasonRequester

In [4]:
params = {'PlayerExperience': 'Rookie', 'MeasureType': 'Advanced'}
Requester = PlayerSeasonRequester()
df_dict = {}
for year in range(2010, 2024):
    start_year = str(year)
    end_year = str(year + 1)[-2:]
    season_id = f'{start_year}-{end_year}'
    Requester.populate_season(season_id=season_id, **params)
    print(season_id)
    df_dict[season_id] = Requester.df

2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
2023-24

In [6]:
import pandas as pd
df_all = pd.concat(df_dict)

In [15]:
test = df_all.loc[(df_all.GP >= 15) & (df_all.FGA_PG >= 8)][['PLAYER_NAME','EFG_PCT']].sort_values('EFG_PCT').reset_index()

In [14]:
test.sort_values('EFG_PCT')

     level_0  level_1       PLAYER_NAME  EFG_PCT
13   2011-12       69       Ricky Rubio    0.398
111  2021-22       51       Jalen Suggs    0.400
34   2015-16       23   Emmanuel Mudiay    0.404
81   2019-20       50      Jordan Poole    0.406
9    2011-12       52      Kemba Walker    0.411
..       ...      ...               ...      ...
129  2023-24       32  Jaime Jaquez Jr.    0.584
64   2018-19       22     Deandre Ayton    0.585
128  2023-24       13     Chet Holmgren    0.588
89   2019-20      116   Zion Williamson    0.592
73   2019-20        6    Brandon Clarke    0.642

[133 rows x 4 columns]

In [10]:
test.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'E_OFF_RATING', 'OFF_RATING',
       'sp_work_OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'sp_work_DEF_RATING', 'E_NET_RATING', 'NET_RATING',
       'sp_work_NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'E_TOV_PCT', 'EFG_PCT', 'TS_PCT',
       'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE', 'PACE_PER40', 'sp_work_PACE',
       'PIE', 'POSS', 'FGM', 'FGA', 'FGM_PG', 'FGA_PG', 'FG_PCT', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'E_OFF_RATING_RANK',
       'OFF_RATING_RANK', 'sp_work_OFF_RATING_RANK', 'E_DEF_RATING_RANK',
       'DEF_RATING_RANK', 'sp_work_DEF_RATING_RANK', 'E_NET_RATING_RANK',
       'NET_RATING_RANK', 'sp_work_NET_RATING_RANK', 'AST_PCT_RANK',
       'AST_TO_RANK', 'AST_RATIO_RANK', 'OREB_PCT_RANK', 'DREB_PCT_RANK',
       'REB_PCT_RANK', 'TM_TOV_PCT_RANK', 'E_TOV_PCT_RANK', 'EFG_PCT_RANK',
       'TS_PCT_RANK', 'USG_PCT_RANK', 'E_USG_PCT_RANK', 'E_PACE_RANK',
       'PACE_RANK', 'sp_work_PACE_RANK', 'PIE_RANK', 'FGM_RANK', 'FGA_RANK',
       'FGM_PG_RANK', 'FGA_PG_RANK', 'FG_PCT_RANK'],
      dtype='object')